.modal-container {
    position: fixed;
    inset: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-delete {
    background-color: var(--neutral-white);
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    margin: 0.5rem;
}

.modal-delete__title {
    margin: 0;
    color: var(--neutral-dark-blue);
}

.modal-delete__message {
    color: var(--neutral-grayish-blue);
}

.modal-delete__buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.modal-delete__button {
    width: 100%;
    height: max-content;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--neutral-white);
    background-color: var(--neutral-grayish-blue);
    border-radius: 10px;
    border: none;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
}

.modal-delete__button--red {
    color: var(--neutral-very-light-grey);
    background-color: var(--primary-red);
}