/* Comment reply */

.comment--reply {
    max-width: 600px;
    align-self: flex-end;
    position: relative;
}

.comment--reply::before {
    content: '';
    height: 110%;
    width: 2px;
    background-color: var(--neutral-light-grey);
    position: absolute;
    left: -5%;
    top: 0;
}

.comment--reply:last-child::before {
    height: 100%;
}

@media (max-width: 800px) {
    .comment--reply {
        max-width: 90vw;
        align-self: flex-end;
        position: relative;
    }
    .comment--reply::before {
        left: -3%;
        
    }
}